%indentsReset {
    margin: 0;
    padding: 0;
}

%list {
    list-style: none;
    @extend %indentsReset;
}

%link {
    text-decoration: none;
    display: block;
    color: inherit;
}

%button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    @extend %indentsReset;
}

%imgProperty {
    display: block;
    min-width: 100%;
    height: auto;
}

%icon {
    fill: currentColor;
}

%visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
  }